.Menu-root-1 {
    background-color: white !important;
    background-image: url("./Images/BG2.jpg") !important;
    height: 100vh !important;
    width: 100vw !important;
    background-size: cover !important;
}
.style-input {
    background-color: rgba(255, 255, 255, 0.5);
    border: 0px;
    width: 100%;
    padding: 15px;
    border-radius: 100px;
    margin-bottom: 30px;
}
.style-input::placeholder{
    color: white !important;
}
/* .container{
    width: 70%;
    margin-top: 30px;
} */
h1{
    color: #ffffff;
    font-size: 90px;
    text-align: center;
    padding: 20px;
    background-color:  rgb(51, 204, 204);
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 150px;
}
h2{
    color:aqua;
    font-size: 70px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
}
.logo{
    width: 70px;

}
.style-button{
    background-color:rgb(51, 204, 204) !important;
    color: white !important;
    font-size: 20px !important;
    padding: 13px !important;
    /* margin: auto !important; */
    text-align: center !important;
    border-radius: 20px;
    margin-top: 40px;
}
p{
    text-align: center;
}


/* Flip code from Animista below */
/* .flip-horizontal-fwd {
	-webkit-animation: flip-horizontal-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
} */
/* ----------------------------------------------
 * Generated by Animista on 2019-2-10 17:22:48
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-horizontal-fwd
 * ----------------------------------------
 */
 /* @-webkit-keyframes flip-horizontal-fwd {
    0% {
      -webkit-transform: translateZ(0) rotateX(0);
              transform: translateZ(0) rotateX(0);
    }
    100% {
      -webkit-transform: translateZ(160px) rotateX(-180deg);
              transform: translateZ(160px) rotateX(-180deg);
    }
  }
  @keyframes flip-horizontal-fwd {
    0% {
      -webkit-transform: translateZ(0) rotateX(0);
              transform: translateZ(0) rotateX(0);
    }
    100% {
      -webkit-transform: translateZ(160px) rotateX(-180deg);
              transform: translateZ(160px) rotateX(-180deg);
    }
  } */

  .tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.7s cubic-bezier(0.43, 1.22, 0.71, 2.000) both;
	        animation: tracking-in-expand 1.7s cubic-bezier(0.43, 1.22, 0.71, 2.000) both;
}
 
/* ----------------------------------------------
 * Generated by Animista on 2019-2-10 19:39:34
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  .bounce-in-top {
	-webkit-animation: bounce-in-top 2.1s both;
	        animation: bounce-in-top 2.1s both;
}
  
/* ----------------------------------------------
 * Generated by Animista on 2019-2-10 20:31:46
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
